<h4>Enter the Roll no. of the students data you want to be deleted</h4>
<div id="delform">
    <form method="get" action="deletedetails.jsp">
        <p>
        <label for="roll_no">Roll no: </label><br>
        <input type="number" id="roll_no" name="roll_no" placeholder="roll no" size = "30" maxlength="35">
        </p>
        <p>
            <input type="submit" value="Submit Details">
        </p>
    </form>
</div>
